@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import "meyer-reset";

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

body,html {
    background: #fff;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Open Sans",arial,helvetica;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
  font-family: "Open Sans",Arial,helvetica;
  font-weight: 700;
  text-rendering: optimizelegibility;
}

h2 {
	 font-size: 2.6rem;
   line-height: 2.8rem;
   margin-bottom: 5px;
   margin-left: 5px;
}

h3 {
	font-size: 1.6rem;
	line-height: 1.8rem;
	letter-spacing: 0;
}

a {
  text-decoration: none;
}

.fade-in {
	display: none;
}

.jcarousel-wrapper {
    max-width: 1000px;
    height: 300px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px auto 0px;
    position: relative;
}

.jcarousel-wrapper > .no-js > ul {
   list-style-type: none;
   padding: 0;
}

.jcarousel-wrapper > .no-js > ul > li {
   padding-bottom: 20px;
}

.jcarousel-wrapper > .no-js > ul > li > a > img {
		width: 100%;
		max-width: 500px;
	}

.slide-title {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
}

.slide-title a {
	text-decoration: none; 
	opacity: 1;
}

.jcarousel li a {
	opacity: 1;
}

.jcarousel li a:hover {
	opacity: 0.9;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 5px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    @include alpha-attribute('background-color', rgba(black, 0.5), white);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 30px/39px "Open Sans",arial,helvetica;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;

}

a.jcarousel-control-prev:hover, .jcarousel-control-next:hover {
	@include alpha-attribute('background-color', rgba(black, 0.9), white);
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
		margin-top: 10px;
		text-align: center;
}

.jcarousel-pagination span {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination span.active {
    @include alpha-attribute('background-color', rgba(black, 0.5), white);
    color: #fff;
}

	